project_name = "aws-ecs-foundation"
environment  = "dev"
aws_region   = "us-east-1"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.0.0/24",
  "10.0.1.0/24"
]

private_subnet_cidrs = [
  "10.0.10.0/24",
  "10.0.11.0/24"
]

azs = [
  "us-east-1a",
  "us-east-1b"
]

web_image = "111122223333.dkr.ecr.us-east-1.amazonaws.com/aws-ecs-foundation-dev-web:latest"
api_image = "111122223333.dkr.ecr.us-east-1.amazonaws.com/aws-ecs-foundation-dev-api:latest"

web_desired_count = 1
web_min_count     = 1
web_max_count     = 3

api_desired_count = 1
api_min_count     = 1
api_max_count     = 3

web_cpu    = 256
web_memory = 512

api_cpu    = 256
api_memory = 512
